.table {
    margin-top: 20px;
}

.addClient__btn {
    margin-top: 30px;
}


.addClient__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}


.addClient__form__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
}


.editClient {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}