.organizations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 5px;
    box-shadow:
            2.8px 0.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 2px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 3.8px 10px rgba(0, 0, 0, 0.035),
            22.3px 6.7px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 12.5px 33.4px rgba(0, 0, 0, 0.05),
            100px 30px 80px rgba(0, 0, 0, 0.07);
    background: var(--primary);
    background: linear-gradient(45deg, var(--primary) 0%, rgba(74,195,110,1) 100%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease all;
}

.item:hover {
    cursor: pointer;
    background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);

    border-radius: 20px;
}